	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 8395px;
		max-width: 960px;
	}

	#pu1237
	{
		margin-right: -10000px;
		width: 100%;
	}

	#u1245
	{
		top: -1px;
		margin-bottom: -1px;
		width: 100%;
	}

	#u1237,#u1381,#u1487,#u1509,#u1516
	{
		width: 100%;
	}

	#u1389,#u1495,#u1523
	{
		top: -1px;
		margin-bottom: -1px;
	}

	#u1989-4
	{
		width: 24.69%;
		max-width: 237px;
	}

	#u1996
	{
		right: 60px;
		width: 8.34%;
		max-width: 80px;
	}

	#u94
	{
		padding-top: 12px;
		padding-bottom: 20px;
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#pu1673
	{
		width: 44.17%;
		margin-left: 2.09%;
	}

	#u1673
	{
		width: 14.16%;
	}

	#u1681
	{
		width: 14.16%;
		left: 21.47%;
	}

	#u1688
	{
		width: 14.16%;
		left: 42.93%;
	}

	#u1695
	{
		width: 14.16%;
		left: 64.39%;
	}

	#u1702
	{
		width: 14.16%;
		left: 85.85%;
	}

	#u1743-21
	{
		min-height: 169px;
		margin-top: 8px;
		width: 44.17%;
		margin-left: 2.09%;
	}

	#contacto
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 1px;
		left: -2px;
	}

	#widgetu1107
	{
		height: 257px;
		margin-top: 9px;
		left: 62.82%;
	}

	#widgetu1108
	{
		width: 339px;
	}

	#u1111-4
	{
		width: 325px;
	}

	#widgetu1108:hover #u1111-4
	{
		width: 325px;
	}

	#widgetu1108.focus-st #u1111-4
	{
		width: 325px;
	}

	#widgetu1108.fld-err-st,#widgetu1116
	{
		width: 339px;
	}

	#widgetu1108.fld-err-st #u1111-4,#widgetu1108_input,#widgetu1108_prompt,#u1118-4
	{
		width: 325px;
	}

	#widgetu1116:hover #u1118-4
	{
		width: 325px;
	}

	#widgetu1116.focus-st #u1118-4
	{
		width: 325px;
	}

	#u1115-4,#u1112-4,#u1114-4
	{
		width: 171px;
		margin-top: 225px;
		left: 151px;
	}

	#u1113-17
	{
		width: 142px;
		margin-top: 225px;
	}

	#widgetu1120
	{
		width: 339px;
		margin-top: 136px;
	}

	#widgetu1120.fld-err-st
	{
		margin-top: 136px;
		width: 339px;
	}

	#widgetu1116.fld-err-st #u1118-4,#widgetu1116_input,#widgetu1116_prompt,#u1123-4
	{
		width: 325px;
	}

	#widgetu1120:hover #u1123-4
	{
		width: 325px;
	}

	#widgetu1120.focus-st #u1123-4
	{
		width: 325px;
	}

	#widgetu1116.fld-err-st,#widgetu1608
	{
		width: 339px;
	}

	#widgetu1608.fld-err-st
	{
		width: 339px;
	}

	#widgetu1120.fld-err-st #u1123-4,#widgetu1120_input,#widgetu1120_prompt,#u1610-4
	{
		width: 325px;
	}

	#widgetu1608:hover #u1610-4
	{
		width: 325px;
	}

	#widgetu1608.focus-st #u1610-4
	{
		width: 325px;
	}

	#widgetu1608.fld-err-st #u1610-4,#widgetu1608_input,#widgetu1608_prompt
	{
		width: 325px;
	}

	.verticalspacer
	{
		min-height: 1px;
	}

